@import 'font-awesome.min.css';
html {
  height: 100%;
  box-sizing: border-box;
}
body{
    position: relative;
    min-height: 100%;
    padding-bottom: 65px;
}
header .navbar-header {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
header .navbar-default {
    background: #263238;
    margin: 0;
    box-shadow: none;
    border: 0;
    border-radius: 0;
}
header .navbar-default .navbar-brand {
    color: #fff;
    text-transform: capitalize;
    text-shadow: none;
}
header .navbar-default .navbar-brand:hover,
header .navbar-default .navbar-brand:focus {
    color: #fff;
}
header .navbar-default .navbar-nav>li>a {
    color: #fff;
    text-shadow: none;
}
header .navbar-default .navbar-nav>li>a:hover,
header .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
}
.page-title {
    padding: 25px 15px 25px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 30px
}
.page-title h2 {
    margin: 0
}
.select-div select {
    color: #212121;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #9e9e9e;
    padding-bottom: 10px;
    font-size: 20px;
    background: url(../images/select_bg.png) no-repeat scroll right 10px;
    background-size: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
}
.select-div select:focus {
    outline: none;
}
.select-div select option {
    font-size: 16px;
    padding: 5px 0;
}
.select-div span {
    display: block;
    color: #8a8a8a;
    margin: 10px 0;
}
.select-div span.distance {
    color: #00897b;
}
.select-div ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.select-div .radio label {
    /*color:#dfdfdf;*/
    font-size: 15px;
    margin: 5px 0;
    padding: 0;
}
.select-div .radio input[type=radio] {
    opacity: 0;
    position: absolute;
}
.select-div .radio input[type=radio] + span {
    width: 14px;
    height: 14px;
    display: inline-block;
    border: 1px solid #dfdfdf;
    position: relative;
    margin: 0 10px 0 0;
    border-radius: 50%;
}
.select-div .radio input[type=radio]:checked + span:after {
    position: absolute;
    width: 14px;
    height: 14px;
    background: #26a69a;
    border-color: #26a69a;
    content: "";
    left: 0;
    top: 0;
    border-radius: 50%;
}
.select-div .radio input[type=radio] {
    visibility: hidden;
}
.submit-button {
    text-align: center;
}
.submit-button button {
    background: #26a69a;
    color: #fff;
    text-transform: uppercase;
    border: 0;
    border-radius: 4px;
    padding: 15px 25px;
    font-weight: 600;
    margin: 30px auto;
}
.submit-button button i {
    margin-left: 10px;
}
footer {
    background: #263238;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
footer p {
    color: #ddd;
    margin: 0
}
.falcone {
    padding: 5% 0;
}
.success-msg {
    background: #26a69a;
    color: #fff;
    padding: 25px 0;
    margin: 0 0 50px;
}
.success-msg p {
    font-size: 16px;
}
@media( max-width: 767px) {
    header .navbar-header {
        position: inherit;
        transform: none;
    }
    .select-div {
        margin-bottom: 30px;
    }
    .page-title h2 {
        font-size: 20px;
    }
    .select-div select {
        font-size: 17px;
    }
    .success-msg p {
        font-size: inherit;
    }
    .success-msg h3 {
        font-size: 20px;
    }
}
